body {
    background-color: beige;
    text-align: center;
}

h1 {
    margin-top: 5%;
}

p {
    font-size: 1.7em;
}

label {
    font-size: 1.6em;
}

button {
    background-color: rgb(144, 223, 186);
    border: 3px solid rgb(19, 126, 103);
    border-radius: 25%;
    color: white;
    font-size: 1.5em;
}

button:hover {
    background-color: rgb(89, 151, 122);
    font-size: 1.6em;
}

#generated {
    font-size: 1.6em;
}